target/
dist/
.codenomad/
.classpath
.analysis.classpath
/Hypercare_checklista.txt
/MODERNIZATION.md
new_directory/
.project
.settings/
.ai/
.idea/
/*.log
/checkstyle_fresh.log
/dependency-reduced-pom.xml
/Databas HSQLDB uppgarderad till version 2.docx
archived/
/CHANGELOG.md
/INSTALL
/README
